/* Anta */
@font-face {
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    src: url('src/assets/fonts/anta/Anta-Regular.ttf') format('truetype');
}

  /* Vollkorn */
  @font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    src: url('src/assets/fonts/vollkorn/Vollkorn-Bold.ttf') format('truetype');
  }
  
  /* Add additional Vollkorn weights and styles as needed */